<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bootstrap Gulp Starter Kit</title>
    <link rel="stylesheet" type="text/css"  href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/src/css/index.css">
    <link rel="stylesheet" href="/src/css/atomic.css">
</head>
<body id="atomic">
    <p class="Bgc(red) P(10px) My(0px)">Atomic CSS used here</p>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-2">Starter Kit for Bootstrap using Gulp!</h1>
            <p class="lead">Everything is ready. Now just code ...</p>
            <ul class="list-group">
                <li class="list-group-item"><span class="text-monospace">Browser-Sync:</span> auto reload html, css,
                    and js</li>
                <li class="list-group-item"><span class="text-monospace">Sass:</span> auto compile sass</li>
                <li class="list-group-item"><span class="text-monospace">AtomicCSS:</span> auto compile Atomic CSS</li>
            </ul>
            <button class="specialButton">Custom Button</button>
        </div>
    </div>
</body>
</html>